$primary-color: #003d74;
$left-section-width: 30%;
.resume-body {
    margin: auto;
    .left-section {
        width: $left-section-width;
        .section-title{
            margin-bottom: 0%;
        }
    }
    .right-section {
        width: calc(100% - $left-section-width);
    }
}

.resume-body {
    display: flex;
    margin: auto;
}

.left-section {
    width: 35%;
    background-color: $primary-color;
    height: 100%;
    color: white;
}

.right-section {
    width: 65%;
    padding: 0.8rem;
}

.left-section .section-content {
    padding: 1rem;
}

.left-section .section-content p.info {
    color: #bcbcbc;
}

.left-section .section-header {
    background-color: rgb(0, 46, 88);
    padding: 0.5rem;
}

.left-section .section-header h5 {
    margin-bottom: 0;
}

.right-section .section-header {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin-top: 0.5rem;
    padding: 0.5rem;
    color: $primary-color;
    font-weight: 700;
}

ul {
    padding-left: 1rem;
    padding-bottom: 0;
    padding-top: 0;
}

.w-30 {
    width: 30%;
}
