<div class="col-12 mt-3" id="sectionHeader">
    <h2>Personal Projects</h2>
</div>

<div class="col-12 my-3">
    <button (click)="addProject()" color="primary" mat-raised-button>Add Project</button>
</div>

<ng-container *ngIf="(projects$ | async)?.length else noData">
    <div class="col-12 mb-3" *ngFor="let project of projects$ | async">
        <div class="card shadow">

            <div class="card-body exp-card">
                <div class="d-flex justify-content-between">
                    <h2 class="mb-1">{{project.title}}</h2>
                    <button mat-icon-button color="warn" class="remove-exp-btn" (click)="deleteProject(project)">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                </div>
                <div class="d-flex align-items-center">
                    <a role="button" class="mb-0">
                        <a (click)="openProject(project)">
                            <u>{{project.link}}</u>
                        </a>
                    </a>
                </div>
                <div class="mt-2">
                    {{project.description}}
                </div>
            </div>
        </div>
    </div>
</ng-container>

<div class="action-footer d-flex justify-content-between">
    <button mat-raised-button color="secondary" (click)="goToPreviousSection()">
        <mat-icon>arrow_back</mat-icon>
        Education
    </button>
    <button mat-raised-button color="primary" (click)="goToNextSection()">
        Certificates
        <mat-icon>arrow_forward</mat-icon>
    </button>
</div>

<ng-template #noData>
    <div class="col-12">
        <span class="d-flex justify-content-center text-muted display-5">No Projects Added</span>
    </div>
</ng-template>