.template-container {
    position: relative;
    .template-img {
        height: 15rem;
        width: 100%;
        cursor: pointer;
        transition: all 0.8s ease;
        border: 1px solid black;
    }

    .template-img:hover {
        scale: 1.05;
    }

    .selected-marker {
        position: absolute;
        top: 50%;
        left: 44%;
        scale: 6;
        color: green;
    }
}
