<div class="container-fluid content-wrapper">
    <div class="row">
        <div class="col-12">
            <h2>Select A Template</h2>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6 mb-3 d-flex justify-content-center template-container" *ngFor="let template of templates">
            <img src='{{ "assets/images/" + template.id + ".png" }}'
                alt="" class="template-img"
                [class.primary-glow]="template.id === selectedTemplate?.id"
                (click)="selectTemplate(template)"
            >
            <div class="selected-marker" *ngIf="template.id === selectedTemplate?.id">
                <mat-icon>check_circle_outline</mat-icon>
            </div>
        </div>
    </div>
</div>