<div class="col-12 mt-3" id="sectionHeader">
    <h2>Skills</h2>
</div>

<div class="col-12 my-3">
    <button mat-raised-button color="primary" (click)="addSkill()">
        Add Skill
        <mat-icon>add</mat-icon>
    </button>
</div>

<ng-container *ngIf="(skills$ | async)?.length; else noData">
    <div class="col-12 mb-2" [class.last-item]="last" *ngFor="let skill of (skills$ | async); let last = last">
        <div class="card shadow">
            <div class="card-body p-2">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="mb-1">{{skill.name}}</span>
                    <div>
                        <button mat-icon-button color="primary" (click)="editSkill(skill)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="deleteSkill(skill)">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<div class="action-footer d-flex justify-content-between">
    <button mat-raised-button color="secondary" (click)="goToPreviousSection()">
        <mat-icon>arrow_back</mat-icon>
        Contact Details
    </button>
    <button mat-raised-button color="primary" (click)="goToNextSection()">
        Experience
        <mat-icon>arrow_forward</mat-icon>
    </button>
</div>

<ng-template #noData>
    <span class="d-flex justify-content-center text-muted display-5">No Skills Added</span>
</ng-template>