<div class="col-12 mt-3">
    <h2>Hobbies And Interests</h2>
</div>

<div class="col-12 my-3" id="sectionHeader">
    <button (click)="addInterest()" color="primary" mat-raised-button>Add Hobby/Interest</button>
</div>

<ng-container *ngIf="(interests$ | async)?.length || showNewInterestRow; else noData">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let interest of interests$ | async">
                    <td>{{interest}}</td>
                    <td class="d-flex justify-content-center">
                        <button mat-icon-button color="warn" (click)="deleteInterest(interest)">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="showNewInterestRow">
                    <td>
                        <div class="form-group mb-0">
                            <input type="text" class="form-control" [(ngModel)]="newInterest">
                        </div>
                    </td>
                    <td class="d-flex justify-content-center align-items-center">
                        <button mat-icon-button color="primary" (click)="saveInterest()">
                            <mat-icon>check_circle</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="cancelInterest()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</ng-container>

<div class="action-footer d-flex justify-content-between">
    <button mat-raised-button color="secondary" (click)="goToPreviousSection()">
        <mat-icon>arrow_back</mat-icon>
        Certificates
    </button>
    <button mat-raised-button color="primary" (click)="showSummary()">
        Summary
        <mat-icon>arrow_forward</mat-icon>
    </button>
</div>

<ng-template #noData>
    <div class="col-12 my-3">
        <span class="d-flex justify-content-center text-muted display-5">Summary</span>
    </div>
</ng-template>