<div class="container mb-5">
    <div class="row mt-4">
        <div class="col-12 profile-content" *ngIf="(profileData$ | async) as profileData">

            <!-- Personal Details -->
            <section>
                <h2>Personal Details</h2>

                <table class="table table-bordered mb-0"
                    *ngIf="profileData.personalDetails as personalDetails">
                    <tbody>
                        <tr>
                            <td class="w-25">First Name</td>
                            <td>{{personalDetails.firstName}}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Last Name</td>
                            <td>{{personalDetails.lastName}}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Primary Role</td>
                            <td>{{personalDetails.areaOfExpertise}}</td>
                        </tr>
                        <tr>
                            <td class="w-25">About Me</td>
                            <td>{{personalDetails.aboutMe}}</td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <!-- Contact Details -->
            <section>
                <h2>Contact Details</h2>

                <table class="table table-bordered mb-0"
                    *ngIf="profileData.contactDetails as contactDetails">
                    <tbody>
                        <tr>
                            <td class="w-25">Mobile</td>
                            <td>{{contactDetails.mobile}}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Email</td>
                            <td>{{contactDetails.email}}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Address</td>
                            <td>{{contactDetails.address}}</td>
                        </tr>
                        <tr>
                            <td class="w-25">LinkedIn</td>
                            <td>{{contactDetails.linkedIn}}</td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <!-- Experience -->
            <section>
                <h2>Experience</h2>

                <ng-container *ngIf="profileData.experience.length">
                    <mat-accordion class="example-headers-align" multi>
                        <mat-expansion-panel *ngFor="let exp of profileData.experience">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{exp.companyName}}
                                </mat-panel-title>
                                <mat-panel-description class="justify-content-between">
                                    {{exp.designation}}
                                    <button mat-icon-button aria-label="Example icon button with a menu icon">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </mat-panel-description>
                            </mat-expansion-panel-header>

                            <div>
                                ({{exp.workedFrom}} {{exp.workedTill}})
                            </div>

                            <ul class="mt-3">
                                <li *ngFor="let description of exp.description">
                                    {{description}}
                                </li>
                            </ul>

                        </mat-expansion-panel>
                    </mat-accordion>
                </ng-container>
            </section>

            <!-- Education -->
            <section class="mt-3">
                <h2>Education</h2>

                <ng-container *ngIf="profileData.education.length">
                    <mat-accordion class="example-headers-align" multi>
                        <mat-expansion-panel *ngFor="let edu of profileData.education">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{edu.degree}}
                                </mat-panel-title>
                                <mat-panel-description class="justify-content-end">
                                    <button mat-icon-button aria-label="Example icon button with a menu icon">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </mat-panel-description>
                            </mat-expansion-panel-header>

                            <div>
                                {{edu.university}} ({{edu.batch}})
                            </div>

                        </mat-expansion-panel>
                    </mat-accordion>
                </ng-container>

            </section>

            <!-- Skills -->
            <section>
                <h2>Skills</h2>

                <table class="table table-bordered mb-0" *ngIf="profileData.skills.length">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let skill of profileData.skills">
                            <td class="w-25">
                                {{skill.name}}
                            </td>
                            <td>
                                <app-rating [totalRating]="5" [currentRating]="skill.rating" [editable]="false">
                                </app-rating>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <!-- Projects -->
            <section class="mt-3">
                <h2>Projects</h2>

                <mat-accordion class="example-headers-align" multi *ngIf="profileData.projects.length">
                    <mat-expansion-panel *ngFor="let project of profileData.projects">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{project.title}}
                            </mat-panel-title>
                            <mat-panel-description class="justify-content-end">
                                <button mat-icon-button aria-label="Example icon button with a menu icon">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <ul>
                            <li>
                                <a (click)="openProject(project)" class="link cursor-pointer">
                                    {{project.link}}
                                </a>
                            </li>
                            <li>
                                {{project.description}}
                            </li>
                        </ul>

                    </mat-expansion-panel>
                </mat-accordion>
            </section>

            <!-- Certificates -->
            <section>
                <h2>Certificates</h2>

                <table class="table table-bordered mb-0" *ngIf="profileData.certificates.length">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Year Of Completion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let certificate of profileData.certificates">
                            <td class="w-50">
                                {{certificate.title}}
                            </td>
                            <td>
                                {{certificate.yearOfCompletion || '-'}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <!-- Interests -->
            <section>
                <h2>Interests</h2>

                <table class="table table-bordered mb-0"  *ngIf="profileData.interest.length">
                    <tbody>
                        <tr *ngFor="let interest of profileData.interest">
                            <td>
                                {{interest}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>

        </div>
    </div>
</div>