.exp-card {
    position: relative;
    .remove-exp-btn {
        position: absolute;
        right: 5px;
        top: 0px;
    }
    .edit-exp-btn {
        position: absolute;
        right: 40px;
        top: 0px;
    }
}