<div class="mt-3 col-12" id="sectionHeader">
    <h2>Personal Details</h2>
</div>

<form [formGroup]="personalDetailsForm" class="col-12">
    <!-- first name -->
    <div class="form-group">
        <mat-form-field appearance="outline">
            <mat-label>First name</mat-label>
            <input matInput formControlName="firstName">
        </mat-form-field>
    </div>
    <!-- last name -->
    <div class="form-group">
        <mat-form-field appearance="outline">
            <mat-label>Last name</mat-label>
            <input matInput formControlName="lastName">
        </mat-form-field>
    </div>

    <!-- Area of expertise -->
    <div class="form-group">
        <mat-form-field appearance="outline">
            <mat-label>Area of expertise</mat-label>
            <input matInput placeholder="Ex. Front End Developer" formControlName="areaOfExpertise">
        </mat-form-field>
    </div>

    <!-- About Me -->
    <div class="form-group">
        <mat-form-field appearance="outline">
            <mat-label>About Me</mat-label>
            <textarea matInput placeholder="Tell us something about you" formControlName="aboutMe" rows="5"></textarea>
        </mat-form-field>
    </div>
</form>

<div class="col-12 action-footer d-flex justify-content-between">
    <button mat-raised-button color="secondary" (click)="goToPreviousSection()">
        <mat-icon>arrow_back</mat-icon>
        Templates
    </button>
    <button mat-raised-button color="primary" (click)="goToNextSection()">
        Contact Details
        <mat-icon>arrow_forward</mat-icon>
    </button>
</div>