<div class="col-12 mt-3" id="sectionHeader">
    <h2>Education</h2>
</div>

<div class="col-12 my-3">
    <button (click)="addEducation()" color="primary" mat-raised-button>Add Education</button>
</div>

<ng-container *ngIf="(education$ | async)?.length else noData">
    <div class="col-12 mb-3" *ngFor="let education of education$ | async">
        <div class="card shadow">

            <div class="card-body exp-card">
                <div class="d-flex justify-content-between">
                    <h2 class="mb-1">{{education.degree}}</h2>
                    <button mat-icon-button color="warn" class="remove-exp-btn" (click)="deleteEducation(education)">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                </div>
                <div class="d-flex align-items-center">
                    <p>{{education.batch}}</p>
                </div>
                <div class="mt-2">
                    {{education.university}}
                </div>
            </div>
        </div>
    </div>
</ng-container>

<div class="col-12 action-footer d-flex justify-content-between">
    <button mat-raised-button color="secondary" (click)="goToPreviousSection()">
        <mat-icon>arrow_back</mat-icon>
        Experience
    </button>
    <button mat-raised-button color="primary" (click)="goToNextSection()">
        Projects
        <mat-icon>arrow_forward</mat-icon>
    </button>
</div>

<ng-template #noData>
    <span class="d-flex justify-content-center text-muted display-5">No Education Added</span>
</ng-template>