<div class="col-12 mt-3" id="sectionHeader">
    <h2>Certificates</h2>
</div>

<div class="col-12 my-3">
    <button (click)="addCertificate()" color="primary" mat-raised-button>Add Certificate</button>
</div>

<ng-container *ngIf="(certificates$ | async)?.length else noData">
    <ul class="mb-3" *ngFor="let certificate of certificates$ | async">
        <li>
            <div class="d-flex justify-content-between align-items-center">
                <span class="mb-1">{{certificate.title}}</span>
                <button mat-icon-button color="warn" class="remove-exp-btn" (click)="deleteCertificate(certificate)">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </div>
        </li>
    </ul>
</ng-container>

<div class="action-footer d-flex justify-content-between">
    <button mat-raised-button color="secondary" (click)="goToPreviousSection()">
        <mat-icon>arrow_back</mat-icon>
        Projects
    </button>
    <button mat-raised-button color="primary" (click)="goToNextSection()">
        Interests
        <mat-icon>arrow_forward</mat-icon>
    </button>
</div>

<ng-template #noData>
    <div class="col-12 my-3">
        <span class="d-flex justify-content-center text-muted display-5">No Certificates Added</span>
    </div>
</ng-template>