<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-12 p-0">
            <mat-drawer-container class="wrapper" autosize>
                <mat-drawer #drawer class="sidenav" mode="side" opened="true">
                    <ng-container *ngFor="let section of sections">
                        <button
                            mat-raised-button color="primary" class="btn-block"
                            [routerLink]="section.routerLink"
                            routerLinkActive="router-link-active">
                            {{section.title}}
                        </button>
                    </ng-container>
                </mat-drawer>

                <div class="content p-3">
                    <router-outlet></router-outlet>
                </div>

            </mat-drawer-container>
        </div>
    </div>
</div>