$primary-color: #715d8d;
.resume-body {
    width: 24cm;
    margin: auto;
    .left-section{
        width: 70%;
    }
    .right-section{
        width: 30%;
    }
}
.section-title {
    margin: 0;

}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    height: 10rem;
    color: white;
    .name{
        border-bottom: 2px solid white;
    }
}

.section-divider {
    border: 2px solid $primary-color;
    background: $primary-color;
}

.right-section {
    background-color: #f5f6f5;
}
.contact-detail {
    display: flex;
    align-items: center;
}

.icon {
    padding: 0.5rem;
    border-radius: 50%;
    background-color: lightgray;
}

.icon-svg {
    height: 1rem;
}
