<div class="col-12 mt-3" id="sectionHeader">
    <h2>Contact Details</h2>
</div>

<div class="col-12">
    <form [formGroup]="contactDetailsForm">
        <!-- Mobile No. -->
        <div class="form-group">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Mobile No.</mat-label>
                <input matInput formControlName="mobile">
            </mat-form-field>
        </div>

        <!-- Email -->
        <div class="form-group">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email">
            </mat-form-field>
        </div>

        <!-- LinkedIn -->
        <div class="form-group">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>LinkedIn</mat-label>
                <input matInput formControlName="linkedIn">
            </mat-form-field>
        </div>

        <!-- Address -->
        <div class="form-group">
            <mat-form-field class="example-full-width" appearance="outline" class="w-100">
                <mat-label>Address</mat-label>
                <textarea matInput formControlName="address" rows="5"></textarea>
            </mat-form-field>
        </div>

        <div class="d-flex justify-content-between">

        </div>
    </form>
</div>

<div class="col-12 action-footer d-flex justify-content-between">
    <button mat-raised-button color="secondary" (click)="goToPreviousSection()">
        <mat-icon>arrow_back</mat-icon>
        Personal Details
    </button>
    <button mat-raised-button color="primary" (click)="goToNextSection()">
        Skills
        <mat-icon>arrow_forward</mat-icon>
    </button>
</div>