<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-between">
            <h2>Summary</h2>
            <button color="primary" mat-raised-button (click)="downloadResume()">Download</button>
        </div>
    </div>

    <div class="row mt-3" *ngIf="selectedTemplate.id">
        <div class="col-12">
            <ng-container [ngSwitch]="selectedTemplate.id">

                <!-- Template T101 -->
                <ng-container *ngSwitchCase="'T101'">
                    <app-t101 [cvData]="cvData"></app-t101>
                </ng-container>

                <!-- Template T102 -->
                <ng-container *ngSwitchCase="'T102'">
                    <app-t102 [cvData]="cvData"></app-t102>
                </ng-container>

                <!-- Template T103 -->
                <ng-container *ngSwitchCase="'T103'">
                    <app-t103 [cvData]="cvData"></app-t103>
                </ng-container>

                <!-- Template T104 -->
                <ng-container *ngSwitchCase="'T104'">
                    <app-t104 [cvData]="cvData"></app-t104>
                </ng-container>

                <ng-container *ngSwitchDefault>Preview Not Available !!</ng-container>
            </ng-container>
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-start">
            <button mat-raised-button color="secondary" (click)="goToPreviousSection()">
                <mat-icon>arrow_back</mat-icon>
                Templates
            </button>
        </div>
    </div>

</div>