<div class="container-fluid content-wrapper">
    <div class="row">
        <div class="col-md-8 col-sm-12" id="sectionHeader">
            <h2 class="mb-0">Summary</h2>
        </div>
        <div class="mt-sm-3 col-md-4 col-sm-12 d-flex justify-content-md-end justify-content-sm-between">
            <button color="primar" mat-raised-button (click)="changeTemplate()">Change Template</button>
            <button color="primary" class="ml-3" mat-raised-button (click)="downloadResume()"
                [disabled]="!selectedTemplate.id">Download</button>
        </div>
    </div>

    <div class="row mt-3" *ngIf="selectedTemplate.id; else noTemplate">
        <div class="col-12" [class.summary]="isSummary">
            <ng-container [ngSwitch]="selectedTemplate.id">

                <!-- Template T101 -->
                <ng-container *ngSwitchCase="'T101'">
                    <app-t101 [cvData]="cvData"></app-t101>
                </ng-container>

                <!-- Template T102 -->
                <ng-container *ngSwitchCase="'T102'">
                    <app-t102 [cvData]="cvData"></app-t102>
                </ng-container>

                <!-- Template T103 -->
                <ng-container *ngSwitchCase="'T103'">
                    <app-t103 [cvData]="cvData"></app-t103>
                </ng-container>

                <!-- Template T104 -->
                <ng-container *ngSwitchCase="'T104'">
                    <app-t104 [cvData]="cvData"></app-t104>
                </ng-container>

                <!-- Template T105 -->
                <ng-container *ngSwitchCase="'T105'">
                    <app-t105 [cvData]="cvData"></app-t105>
                </ng-container>

                <!-- Template T106 -->
                <ng-container *ngSwitchCase="'T106'">
                    <app-t106 [cvData]="cvData"></app-t106>
                </ng-container>

                <ng-container *ngSwitchDefault>Preview Not Available !!</ng-container>
            </ng-container>
        </div>
    </div>
</div>

<div class="action-footer d-flex justify-content-between">
    <button mat-raised-button color="secondary" (click)="goToPreviousSection()">
        <mat-icon>arrow_back</mat-icon>
        Interests
    </button>
    <button color="primary" mat-raised-button (click)="downloadResume()"
        [disabled]="!selectedTemplate.id">Download</button>
</div>

<ng-template #noTemplate>
    <div class="row mt-3">
        <div class="col-12">
            <div class="display-5 text-muted">Please Select A template!!</div>
        </div>
    </div>
</ng-template>